/* Styles go here */
html {
background-color:darksalmon ;
}

* {
  font-family : 'Helvetica';
}

.products-wrapper {
  width: 96%;
  height: auto;
  overflow: hidden;
  padding: 2%;
}

.products-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.products-list_item {
    background-color: highlight;
    border: 2px solid blue;
    border-radius: 3px;
    float: left;
    height: 160px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    margin-left:0;
}

.product-text {
  margin:10px 0px 10px 0px;
}

.product-text--small {
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
}

.product-text--medium {
  font-size: 16px;
  line-height: 17px;
  font-weight: 400;
}

.product-text--large {
  font-size: 22px;
  line-height: 17px;
  font-weight: 700;
  width: 117px;
}

.product-add_to_cart {
    background-color: skyblue;
    border: 2px solid blue;
    border-radius: 3px;
    color: blue;
    font-size: 19px;
    font-weight: 800;
    height: 30px;
    width: 100%;
}

.cart-item--list {
  width: 100%;
  height: auto;
  margin:0;
  padding:0;
  margin-bottom: 20px;
}

.cart-item {
    border: 1px solid #eeeeee;
    height: auto;
    overflow: hidden;
    padding: 10px;

}

.cart-item--name, .cart-item--quantity,.cart-item--remove {
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

.cart-item--remove {
  border: 0;
  color: white;
  width: 100px;
  height: 26px;
  background-color: #e74c3c;
  border-radius: 3px;
  border: 1px solid #c0392b;
  font-weight: 600;
  font-size: 14px;
  float:right;
}

.cart-clear {
    background-color: red;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    font-size: 27px;
    font-weight: 600;
    margin-left: 26px;
    padding: 5px;

}

.cart-refresh {
    background-color: green;
    border: 2px solid black;
    border-radius: 3px;
    color: white;
    font-size: 27px;
    font-weight: 600;
    margin-left: 26px;
    padding: 5px;
}

.widthIncDec {
    width:auto;
}